<!--  -->
<form [formGroup]="form" class="form" (keydown)="readFormKeyInput()">
  <mat-form-field appearance="fill" class="formfield">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" aria-label="nameInput">
    <button  matSuffix mat-icon-button (click)="nameFormControl.reset()" aria-label="nameInputReset">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="nameFormControl.hasError('required')" aria-label="errorMessageName">
      This is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="formfield">
    <mat-label>Age</mat-label>
    <input matInput type="number" formControlName="age" aria-label="ageInput">
    <button matSuffix mat-icon-button (click)="ageFormControl.reset()" aria-label="ageInputReset">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="nameFormControl.hasError('required')" aria-label="errorMessageAge">
      This is required!
    </mat-error>
  </mat-form-field>

  <button mat-raised-button class="button" (click)="emitFormValue()" [disabled]="!this.form.valid">Add</button>
  
  
</form>


