table {
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
}
.name-row{
    width: 25%;
}

.age-row{
    width: 65%;
}
.options-row{
    width: 10%;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  